.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides_dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide_rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow_left {
    left: 2em; }
  .glide__arrow_right {
    right: 2em; }
  .glide__arrow_disabled {
    opacity: 0.33; }
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet_active {
    background-color: white; }
.glide_swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }
.glide_dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

body {
  font-family: 'Raleway', sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  body a {
    text-decoration: none; }
  body a:hover {
    opacity: 0.6; }
  body button:hover {
    opacity: 0.6; }
  body ul {
    list-style: none; }

.hamburger-wrapper {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh; }
  .hamburger-wrapper .close-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 32px;
    height: 32px;
    background: #ffffff;
    align-self: flex-end;
    margin-top: 16px;
    margin-right: 31px;
    margin-bottom: 48px; }
  .hamburger-wrapper .hamburger-list {
    grid-column: 1/13;
    padding: 0;
    margin: 0;
    margin-left: 32px;
    margin-bottom: 352px;
    font-size: 24px;
    font-weight: 600; }
    .hamburger-wrapper .hamburger-list li {
      margin-bottom: 32px; }
      .hamburger-wrapper .hamburger-list li a {
        color: #333333; }
  .hamburger-wrapper .hamburger-btn {
    grid-column: 1/13;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 28px 18px 28px;
    border: none;
    align-self: flex-start;
    margin-left: 32px;
    margin-bottom: 48px;
    text-align: center;
    color: #333333;
    background: #87de87;
    box-shadow: 0px 0px 6px #00000040; }

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto; }
  .main-wrapper .header {
    grid-column: 1 / 13; }
    .main-wrapper .header__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #87de87;
      height: 101px;
      text-align: center; }
      @media (max-width: 375px) {
        .main-wrapper .header__nav {
          align-items: flex-start;
          height: 4rem; } }
    .main-wrapper .header__logo {
      background: #ffffff;
      width: 120px;
      height: 42px;
      margin-left: 108px;
      text-align: center; }
      @media (max-width: 375px) {
        .main-wrapper .header__logo {
          width: 9.25rem;
          height: 3.25rem;
          margin-left: 2rem; } }
    .main-wrapper .header__img {
      margin-top: 25.75px; }
      @media (max-width: 375px) {
        .main-wrapper .header__img {
          margin-top: 2rem;
          width: 8.75rem;
          height: 1.75rem; } }
    .main-wrapper .header__hamburger {
      display: none; }
      @media (max-width: 375px) {
        .main-wrapper .header__hamburger {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
          margin-left: 8.1875rem;
          margin-right: 2rem;
          border: none;
          width: 2rem;
          height: 2rem; } }
    .main-wrapper .header__link {
      margin-right: 24px;
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      color: #333333; }
      @media (max-width: 375px) {
        .main-wrapper .header__link {
          display: none; } }
    .main-wrapper .header__btn {
      margin-right: 108px;
      padding: 0;
      width: 128px;
      height: 40px;
      font-weight: 700;
      font-size: 18px;
      border: none;
      color: #333333;
      background: #ffffff;
      box-shadow: 0px 0px 6px #00000040; }
      @media (max-width: 375px) {
        .main-wrapper .header__btn {
          display: none; } }
    .main-wrapper .header__img-l {
      margin-top: 0;
      width: 100%; }
      @media (max-width: 375px) {
        .main-wrapper .header__img-l {
          display: none; } }
    .main-wrapper .header__img-container {
      display: none; }
      @media (max-width: 375px) {
        .main-wrapper .header__img-container {
          display: block;
          height: 28.9375rem;
          width: 100%; } }
    .main-wrapper .header__card {
      height: 640px; }
      @media (max-width: 375px) {
        .main-wrapper .header__card {
          display: flex;
          flex-direction: column;
          display: block;
          align-items: center;
          width: 23.4375rem;
          height: 28.9375rem; } }
    .main-wrapper .header__description {
      position: absolute;
      display: flex;
      flex-direction: column;
      background: #333333;
      width: 595px;
      height: 228px;
      color: #ffffff;
      margin-top: 206px;
      margin-left: 228px;
      border-left: 32px solid #87de87; }
      @media (max-width: 375px) {
        .main-wrapper .header__description {
          position: static;
          justify-content: space-between;
          width: 100%;
          height: 14.75rem;
          margin: 0;
          border-left: none;
          border-bottom: solid 3.125rem #87de87; } }
    .main-wrapper .header__title {
      font-size: 48px;
      font-weight: 600;
      margin: 32px 349px 24px 24px; }
      @media (max-width: 375px) {
        .main-wrapper .header__title {
          text-align: center;
          font-size: 2.25rem;
          margin: 2rem 0 0 0; } }
    .main-wrapper .header__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.13px;
      margin: 0 19px 32px 24px; }
      @media (max-width: 375px) {
        .main-wrapper .header__text {
          text-align: left;
          font-size: 1rem;
          line-height: 1.320625rem;
          margin: 1rem 2rem 1rem 2rem; } }
  .main-wrapper .section-cards {
    grid-column: 1 / 13;
    text-align: center;
    max-width: 100%; }
    @media (max-width: 375px) {
      .main-wrapper .section-cards {
        margin-top: 20.8125rem; } }
    .main-wrapper .section-cards__title-main {
      margin: 120px 0 86px 0;
      margin-top: 120px;
      margin-bottom: 86px;
      padding: 0;
      font-size: 48px;
      font-weight: 700;
      color: #333333; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards__title-main {
          margin: 0;
          padding: 0;
          font-size: 2.25rem; } }
    .main-wrapper .section-cards__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 24px; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards__cards {
          display: flex;
          flex-direction: column;
          margin-left: 2rem;
          margin-right: 2rem; } }
    .main-wrapper .section-cards__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background: #333333;
      width: 552px;
      height: 348px; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards__card {
          justify-content: space-between;
          align-items: center;
          margin: 0;
          margin-top: 5.5rem;
          width: 19.5rem;
          height: 28.625rem; } }
    @media (max-width: 375px) {
      .main-wrapper .section-cards .margin-top {
        margin-top: 3.75rem; }
      .main-wrapper .section-cards .margin-toplog {
        margin-top: -3.75rem; } }
    .main-wrapper .section-cards .margin-left {
      margin-left: 108px; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards .margin-left {
          margin-left: 0; } }
    .main-wrapper .section-cards .margin-right {
      margin-right: 108px; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards .margin-right {
          margin-right: 0; } }
    .main-wrapper .section-cards__title-content {
      display: flex;
      flex-direction: row;
      margin-left: 32px; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards__title-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
          margin-top: -3.4375rem; } }
    .main-wrapper .section-cards__logo-wrapper {
      display: flex;
      align-items: center; }
    .main-wrapper .section-cards__logo {
      position: absolute;
      margin-left: 20.12px; }
    .main-wrapper .section-cards__title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 23.91px; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards__title-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
          margin-top: 2rem; } }
    .main-wrapper .section-cards__title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 600;
      margin-top: 27px;
      margin-bottom: 10px; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards__title {
          margin: 0;
          margin-bottom: 0.625rem; } }
    .main-wrapper .section-cards__subtitle {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      font-style: italic;
      margin-top: 0; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards__subtitle {
          margin: 0; } }
    .main-wrapper .section-cards__text {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.13px;
      text-align: justify;
      margin-left: 32px;
      margin-right: 34px; }
      @media (max-width: 375px) {
        .main-wrapper .section-cards__text {
          text-align: left;
          margin: 0;
          margin-top: 1.5rem;
          margin-bottom: 0.75rem;
          margin-left: 1rem;
          margin-right: 1rem; } }
  .main-wrapper .section-articles {
    grid-column: 1 / 13;
    margin-top: 120px;
    background: #333333;
    color: #ffffff; }
    @media (max-width: 375px) {
      .main-wrapper .section-articles {
        margin-top: 3.25rem; } }
    .main-wrapper .section-articles__title-main {
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      margin-top: 64px;
      margin-bottom: 117px; }
      @media (max-width: 375px) {
        .main-wrapper .section-articles__title-main {
          font-size: 2.25rem;
          margin-top: 3rem;
          margin-bottom: 2.375rem; } }
    .main-wrapper .section-articles__contentwrapper {
      display: flex;
      flex-direction: column; }
      @media (max-width: 375px) {
        .main-wrapper .section-articles__contentwrapper {
          justify-content: center;
          align-items: center;
          width: 100%; } }
    .main-wrapper .section-articles__content {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      @media (max-width: 375px) {
        .main-wrapper .section-articles__content {
          display: flex;
          flex-direction: column-reverse;
          margin: 0; } }
    .main-wrapper .section-articles .margin-1 {
      margin: 0 108px 128px 252px; }
      @media (max-width: 375px) {
        .main-wrapper .section-articles .margin-1 {
          margin: 0; } }
    .main-wrapper .section-articles .margin-2 {
      margin: 0 128px 108px 96px; }
      @media (max-width: 375px) {
        .main-wrapper .section-articles .margin-2 {
          margin: 0; } }
    @media (max-width: 375px) {
      .main-wrapper .section-articles .display-2 {
        display: flex;
        flex-direction: column; } }
    .main-wrapper .section-articles__article-title {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 36px;
      font-weight: 600; }
      @media (max-width: 375px) {
        .main-wrapper .section-articles__article-title {
          text-align: center;
          margin-top: 1.8125rem;
          margin-bottom: 1.6875rem; } }
    .main-wrapper .section-articles__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.13px;
      text-align: left; }
      @media (max-width: 375px) {
        .main-wrapper .section-articles__text {
          margin: 0 1rem 0.75rem 1rem; } }
      .main-wrapper .section-articles__text_center {
        align-self: center; }
    .main-wrapper .section-articles__img_position1 {
      margin-left: 168px;
      border-right: 32px solid #87de87; }
    .main-wrapper .section-articles__img_position2 {
      margin-right: 168px;
      border-left: 32px solid #87de87; }
    @media (max-width: 375px) {
      .main-wrapper .section-articles__img {
        display: none; } }
    @media (max-width: 375px) {
      .main-wrapper .section-articles__img-box {
        border-bottom: 1rem solid #87de87; } }
    .main-wrapper .section-articles__img-mobile {
      display: none; }
      @media (max-width: 375px) {
        .main-wrapper .section-articles__img-mobile {
          display: block; } }
    .main-wrapper .section-articles__btn {
      margin: 96px 0 96px 828px;
      width: 264px;
      height: 72px;
      color: #333333;
      background: #87de87;
      border-radius: 12px;
      border: none;
      font-size: 18px;
      font-weight: 700; }
      @media (max-width: 375px) {
        .main-wrapper .section-articles__btn {
          display: none; } }
  .main-wrapper .section-carousel {
    grid-column: 1 / 13;
    margin-top: 262px;
    margin-bottom: 120px; }
    @media (max-width: 375px) {
      .main-wrapper .section-carousel {
        margin: 0; } }
    .main-wrapper .section-carousel__title-main {
      display: none; }
      @media (max-width: 375px) {
        .main-wrapper .section-carousel__title-main {
          display: block;
          font-size: 2.25rem;
          font-weight: 700;
          text-align: center;
          margin: 2.875rem 0 1.875rem 0; } }
    @media (max-width: 375px) {
      .main-wrapper .section-carousel__img {
        display: none; } }
    .main-wrapper .section-carousel__img-mobile {
      display: none; }
      @media (max-width: 375px) {
        .main-wrapper .section-carousel__img-mobile {
          display: block; } }
    .main-wrapper .section-carousel__btn {
      width: 100px;
      height: 100px;
      color: #87de87;
      background-color: #87de87;
      border-radius: 50px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 375px) {
        .main-wrapper .section-carousel__btn {
          width: 2rem;
          height: 2rem;
          background-color: #ffffff; } }
    @media (max-width: 375px) {
      .main-wrapper .section-carousel__arrow {
        display: none; } }
    .main-wrapper .section-carousel__arrow-mobile {
      display: none; }
      @media (max-width: 375px) {
        .main-wrapper .section-carousel__arrow-mobile {
          display: block; } }
    .main-wrapper .section-carousel .btn-left {
      margin-left: 133px; }
      @media (max-width: 375px) {
        .main-wrapper .section-carousel .btn-left {
          margin-left: 0.75rem; } }
    .main-wrapper .section-carousel .btn-right {
      margin-right: 133px; }
      @media (max-width: 375px) {
        .main-wrapper .section-carousel .btn-right {
          margin-right: 1rem; } }
  .main-wrapper .section-input {
    grid-column: 1 / 13;
    margin-bottom: 120px; }
    @media (max-width: 375px) {
      .main-wrapper .section-input {
        margin: 0; } }
    .main-wrapper .section-input__content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #333333; }
    .main-wrapper .section-input__title {
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      margin-top: 120px;
      margin-bottom: 24px; }
      @media (max-width: 375px) {
        .main-wrapper .section-input__title {
          font-size: 2.25rem;
          margin-top: 2rem;
          margin-bottom: 1.875rem; } }
    .main-wrapper .section-input__text {
      width: 840px;
      height: 56px;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.18px;
      margin-bottom: 70.37px; }
      @media (max-width: 375px) {
        .main-wrapper .section-input__text {
          width: 19.5rem;
          font-size: 1rem;
          line-height: 1.17375rem;
          margin: 0;
          margin-left: 2rem;
          margin-right: 2rem; } }
    .main-wrapper .section-input__form {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fefefe;
      border-radius: 12px;
      width: 696px;
      height: 64px;
      box-shadow: 0px 0px 8px #00000040; }
      @media (max-width: 375px) {
        .main-wrapper .section-input__form {
          border: none;
          border-top-left-radius: 0.75rem;
          border-bottom-left-radius: 0.75rem;
          width: 19.5rem;
          height: 2.875rem;
          margin-top: 4rem; } }
      .main-wrapper .section-input__form :focus {
        outline: none; }
    .main-wrapper .section-input__email {
      border: none;
      width: calc(100% - 120px);
      margin: 21px 15px 22px 20px;
      font-size: 18px;
      font-weight: 400px;
      font-style: italic; }
      @media (max-width: 375px) {
        .main-wrapper .section-input__email {
          border: none;
          font-size: 1rem; } }
    .main-wrapper .section-input__btn {
      border: none;
      border-radius: 12px;
      color: #333333;
      background: #87de87;
      margin: 8px 8px 8px 0;
      font-size: 24px;
      font-weight: 700;
      width: 120px;
      height: 48px;
      padding: 0; }
      @media (max-width: 375px) {
        .main-wrapper .section-input__btn {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          margin: 0;
          font-size: 1.125rem;
          width: 6.375rem;
          height: 2.875rem;
          padding: 0; } }
  .main-wrapper .footer {
    grid-column: 1 / 13;
    background: #87de87;
    color: #ffffff; }
    @media (max-width: 375px) {
      .main-wrapper .footer {
        margin-top: 3rem; } }
    .main-wrapper .footer__content-wrapper {
      display: flex;
      flex-direction: column;
      color: #333333; }
      @media (max-width: 375px) {
        .main-wrapper .footer__content-wrapper {
          justify-content: center;
          align-items: center; } }
    .main-wrapper .footer__logo-box {
      background: #ffffff;
      margin-top: 48px;
      margin-left: 108px;
      width: 223px;
      height: 78.05px; }
      @media (max-width: 375px) {
        .main-wrapper .footer__logo-box {
          margin: 0; } }
    .main-wrapper .footer__logo-img {
      margin-top: 47.86px;
      margin-left: 6.03px;
      margin-bottom: 0; }
    .main-wrapper .footer__sections-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 30.67px; }
      @media (max-width: 375px) {
        .main-wrapper .footer__sections-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 2.621875rem; } }
    .main-wrapper .footer__info-wrapper {
      margin-left: 108px; }
      @media (max-width: 375px) {
        .main-wrapper .footer__info-wrapper {
          margin: 0;
          text-align: center; } }
      .main-wrapper .footer__info-wrapper :first-child {
        font-size: 24px;
        font-weight: 600; }
      .main-wrapper .footer__info-wrapper :nth-child(2) {
        margin-top: 10px;
        margin-bottom: 10px; }
      .main-wrapper .footer__info-wrapper :nth-child(4) {
        margin-top: 18px;
        margin-bottom: 10px; }
      .main-wrapper .footer__info-wrapper :last-child {
        margin-bottom: 96px; }
    .main-wrapper .footer__text {
      font-size: 18px;
      margin: 0; }
    .main-wrapper .footer__link {
      display: block;
      color: #333333;
      font-size: 18px;
      font-weight: 400; }
    .main-wrapper .footer__subsections-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 210px; }
      @media (max-width: 375px) {
        .main-wrapper .footer__subsections-wrapper {
          justify-content: center;
          align-items: center;
          margin: 0;
          text-align: center; }
          .main-wrapper .footer__subsections-wrapper :last-child {
            margin-bottom: 4rem; } }
      .main-wrapper .footer__subsections-wrapper :first-child {
        font-weight: 600;
        margin-bottom: 10px; }
      .main-wrapper .footer__subsections-wrapper :nth-child(2) {
        margin-bottom: 10px; }
      .main-wrapper .footer__subsections-wrapper :nth-child(3) {
        margin-bottom: 10px; }
    .main-wrapper .footer__subsections-title {
      font-size: 18px;
      margin: 0; }
    .main-wrapper .footer__subsection-link {
      text-decoration: none;
      color: #333333; }
    .main-wrapper .footer__social-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 350px; }
      @media (max-width: 375px) {
        .main-wrapper .footer__social-wrapper {
          justify-content: center;
          align-items: center;
          margin: 0;
          margin-bottom: 3rem; } }
    .main-wrapper .footer__social-title {
      font-size: 18px;
      margin: 0;
      font-weight: 600; }
    .main-wrapper .footer__social-links {
      display: flex;
      flex-direction: row;
      align-items: flex-start; }
      .main-wrapper .footer__social-links :first-child {
        margin-right: 24px; }
      .main-wrapper .footer__social-links :nth-child(2) {
        margin-right: 24px; }
      .main-wrapper .footer__social-links :nth-child(3) {
        margin-right: 24px; }
    .main-wrapper .footer__link-round {
      margin-top: 18px;
      background: #333333;
      text-decoration: none;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .main-wrapper .footer__social {
      margin-left: 50%; }
    .main-wrapper .footer__copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: #333333; }
      @media (max-width: 375px) {
        .main-wrapper .footer__copyright {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 5.375rem; } }
    .main-wrapper .footer__copy {
      margin-top: 13px;
      margin-left: 108px;
      margin-bottom: 13px;
      color: #ffffff;
      font-size: 18px; }
      @media (max-width: 375px) {
        .main-wrapper .footer__copy {
          margin: 0; } }
    .main-wrapper .footer__copy-wrapper {
      margin-top: 13px;
      margin-bottom: 13px; }
      @media (max-width: 375px) {
        .main-wrapper .footer__copy-wrapper {
          margin: 0;
          margin-bottom: 0.75rem; } }
      .main-wrapper .footer__copy-wrapper :first-child {
        margin-right: 36px; }
        @media (max-width: 375px) {
          .main-wrapper .footer__copy-wrapper :first-child {
            margin: 0;
            margin-right: 0.75rem; } }
      .main-wrapper .footer__copy-wrapper :last-child {
        margin-right: 108px; }
        @media (max-width: 375px) {
          .main-wrapper .footer__copy-wrapper :last-child {
            margin: 0; } }
    .main-wrapper .footer__copy-link {
      color: #ffffff;
      font-size: 18px; }

/*# sourceMappingURL=main.css.map */
