@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin flex-center {
	justify-content: center;
	align-items: center;
}

@mixin mobile {
	@media (max-width: 375px) {
		@content;
	}
}
