@import './abstracts/mixins.scss';
@import './abstracts/variables';
@import './abstracts/functions.scss';
@import './vendors/glide.core.scss';
@import './vendors/glide.theme.scss';

body {
	font-family: 'Raleway', sans-serif;
	background: $base-white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	a {
		text-decoration: none;
	}

	a:hover {
		opacity: 0.6;
	}

	button:hover {
		opacity: 0.6;
	}

	ul {
		list-style: none;
	}
}

.hamburger-wrapper {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100vh;

	.close-hamburger {
		display: flex;
		@include flex-center;
		border: none;
		width: 32px;
		height: 32px;
		background: $base-white;
		align-self: flex-end;
		margin-top: 16px;
		margin-right: 31px;
		margin-bottom: 48px;
	}

	.hamburger-list {
		grid-column: 1/13;
		padding: 0;
		margin: 0;
		margin-left: 32px;
		margin-bottom: 352px;
		font-size: 24px;
		font-weight: 600;

		li {
			margin-bottom: 32px;

			a {
				color: $base-grey;
			}
		}
	}

	.hamburger-btn {
		grid-column: 1/13;
		font-size: 18px;
		font-weight: 700;
		padding: 18px 28px 18px 28px;
		border: none;
		align-self: flex-start;
		margin-left: 32px;
		margin-bottom: 48px;
		text-align: center;
		color: $base-grey;
		background: $base-color;
		box-shadow: 0px 0px 6px #00000040;
	}
}

.main-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;

	.header {
		grid-column: 1 / 13;

		&__nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: $base-color;
			height: 101px;
			text-align: center;

			@include mobile {
				align-items: flex-start;
				height: toRem(64);
			}
		}

		&__logo {
			background: $base-white;
			width: 120px;
			height: 42px;
			margin-left: 108px;
			text-align: center;

			@include mobile {
				width: toRem(148);
				height: toRem(52);
				margin-left: toRem(32);
			}
		}

		&__img {
			margin-top: 25.75px;

			@include mobile {
				margin-top: toRem(32);
				width: toRem(140);
				height: toRem(28);
			}
		}

		&__hamburger {
			display: none;

			@include mobile {
				display: flex;
				@include flex-center;
				margin-top: toRem(16);
				margin-left: toRem(131);
				margin-right: toRem(32);
				border: none;
				width: toRem(32);
				height: toRem(32);
			}
		}

		&__link {
			margin-right: 24px;
			text-decoration: none;
			font-weight: 600;
			font-size: 18px;
			color: $base-grey;

			@include mobile {
				display: none;
			}
		}

		&__btn {
			margin-right: 108px;
			padding: 0;
			width: 128px;
			height: 40px;
			font-weight: 700;
			font-size: 18px;
			border: none;
			color: $base-grey;
			background: $base-white;
			box-shadow: 0px 0px 6px #00000040;

			@include mobile {
				display: none;
			}
		}

		&__img-l {
			margin-top: 0;
			width: 100%;

			@include mobile {
				display: none;
			}
		}

		&__img-container {
			display: none;

			@include mobile {
				display: block;
				height: toRem(463);
				width: 100%;
			}
		}

		&__card {
			height: 640px;

			@include mobile {
				@include flex-column;
				display: block;
				align-items: center;
				width: toRem(375);
				height: toRem(463);
			}
		}

		&__description {
			position: absolute;
			@include flex-column;
			background: $base-grey;
			width: 595px;
			height: 228px;
			color: $base-white;
			margin-top: 206px;
			margin-left: 228px;
			border-left: 32px solid $base-color;

			@include mobile {
				position: static;
				justify-content: space-between;
				width: 100%;
				height: toRem(236);
				margin: 0;
				border-left: none;
				border-bottom: solid toRem(50) $base-color;
			}
		}

		&__title {
			font-size: 48px;
			font-weight: 600;
			margin: 32px 349px 24px 24px;

			@include mobile {
				text-align: center;
				font-size: toRem(36);
				margin: toRem(32) 0 0 0;
			}
		}

		&__text {
			font-size: 18px;
			font-weight: 400;
			line-height: 21.13px;
			margin: 0 19px 32px 24px;

			@include mobile {
				text-align: left;
				font-size: toRem(16);
				line-height: toRem(21.13);
				margin: toRem(16) toRem(32) toRem(16) toRem(32);
			}
		}
	}

	.section-cards {
		grid-column: 1 / 13;
		text-align: center;
		max-width: 100%;

		@include mobile {
			margin-top: toRem(333);
		}

		&__title-main {
			margin: 120px 0 86px 0;
			margin-top: 120px;
			margin-bottom: 86px;
			padding: 0;
			font-size: 48px;
			font-weight: 700;
			color: $base-grey;

			@include mobile {
				margin: 0;
				padding: 0;
				font-size: toRem(36);
			}
		}

		&__cards {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 24px;

			@include mobile {
				@include flex-column;
				margin-left: toRem(32);
				margin-right: toRem(32);
			}
		}

		&__card {
			@include flex-column;
			justify-content: center;
			align-items: flex-start;
			background: $base-grey;
			width: 552px;
			height: 348px;

			@include mobile {
				justify-content: space-between;
				align-items: center;
				margin: 0;
				margin-top: toRem(88);
				width: toRem(312);
				height: toRem(458);
			}
		}

		@include mobile {
			.margin-top {
				margin-top: toRem(60);
			}

			.margin-toplog {
				margin-top: toRem(-60);
			}
		}

		.margin-left {
			margin-left: 108px;

			@include mobile {
				margin-left: 0;
			}
		}

		.margin-right {
			margin-right: 108px;

			@include mobile {
				margin-right: 0;
			}
		}

		&__title-content {
			@include flex-row;
			margin-left: 32px;

			@include mobile {
				@include flex-column;
				align-items: center;
				margin: 0;
				margin-top: toRem(-55);
			}
		}

		&__logo-wrapper {
			display: flex;
			align-items: center;
		}

		&__logo {
			position: absolute;
			margin-left: 20.12px;
		}

		&__title-wrapper {
			@include flex-column;
			align-items: flex-start;
			margin-left: 23.91px;

			@include mobile {
				@include flex-column;
				align-items: center;
				margin: 0;
				margin-top: toRem(32);
			}
		}

		&__title {
			color: $base-white;
			font-size: 24px;
			font-weight: 600;
			margin-top: 27px;
			margin-bottom: 10px;

			@include mobile {
				margin: 0;
				margin-bottom: toRem(10);
			}
		}

		&__subtitle {
			color: $base-white;
			font-size: 24px;
			font-weight: 400;
			font-style: italic;
			margin-top: 0;

			@include mobile {
				margin: 0;
			}
		}

		&__text {
			color: $base-white;
			font-size: 18px;
			font-weight: 400;
			line-height: 21.13px;
			text-align: justify;
			margin-left: 32px;
			margin-right: 34px;

			@include mobile {
				text-align: left;
				margin: 0;
				margin-top: toRem(24);
				margin-bottom: toRem(12);
				margin-left: toRem(16);
				margin-right: toRem(16);
			}
		}
	}

	.section-articles {
		grid-column: 1 / 13;
		margin-top: 120px;
		background: $base-grey;
		color: $base-white;

		@include mobile {
			margin-top: toRem(52);
		}

		&__title-main {
			text-align: center;
			font-size: 48px;
			font-weight: 700;
			margin-top: 64px;
			margin-bottom: 117px;

			@include mobile {
				font-size: toRem(36);
				margin-top: toRem(48);
				margin-bottom: toRem(38);
			}
		}

		&__contentwrapper {
			@include flex-column;

			@include mobile {
				@include flex-center;
				width: 100%;
			}
		}

		&__content {
			@include flex-row;
			justify-content: center;

			@include mobile {
				@include flex-column-reverse;
				margin: 0;
			}
		}

		.margin-1 {
			margin: 0 108px 128px 252px;

			@include mobile {
				margin: 0;
			}
		}

		.margin-2 {
			margin: 0 128px 108px 96px;

			@include mobile {
				margin: 0;
			}
		}

		@include mobile {
			.display-2 {
				@include flex-column;
			}
		}

		&__article-title {
			margin-top: 0;
			margin-bottom: 12px;
			font-size: 36px;
			font-weight: 600;

			@include mobile {
				text-align: center;
				margin-top: toRem(29);
				margin-bottom: toRem(27);
			}
		}

		&__text {
			font-size: 18px;
			font-weight: 400;
			line-height: 21.13px;
			text-align: left;

			@include mobile {
				margin: 0 toRem(16) toRem(12) toRem(16);
			}

			&_center {
				align-self: center;
			}
		}

		&__img {
			&_position1 {
				margin-left: 168px;
				border-right: 32px solid $base-color;
			}

			&_position2 {
				margin-right: 168px;
				border-left: 32px solid $base-color;
			}

			@include mobile {
				display: none;
			}
		}

		@include mobile {
			&__img-box {
				border-bottom: toRem(16) solid $base-color;
			}
		}

		&__img-mobile {
			display: none;

			@include mobile {
				display: block;
			}
		}

		&__btn {
			margin: 96px 0 96px 828px;
			width: 264px;
			height: 72px;
			color: $base-grey;
			background: $base-color;
			border-radius: 12px;
			border: none;
			font-size: 18px;
			font-weight: 700;

			@include mobile {
				display: none;
			}
		}
	}

	.section-carousel {
		grid-column: 1 / 13;
		margin-top: 262px;
		margin-bottom: 120px;

		@include mobile {
			margin: 0;
		}

		&__title-main {
			display: none;

			@include mobile {
				display: block;
				font-size: toRem(36);
				font-weight: 700;
				text-align: center;
				margin: toRem(46) 0 toRem(30) 0;
			}
		}

		@include mobile {
			&__img {
				display: none;
			}
		}

		&__img-mobile {
			display: none;

			@include mobile {
				display: block;
			}
		}

		&__btn {
			width: 100px;
			height: 100px;
			color: #87de87;
			background-color: $base-color;
			border-radius: 50px;
			border: none;
			display: flex;
			@include flex-center;

			@include mobile {
				width: toRem(32);
				height: toRem(32);
				background-color: $base-white;
			}
		}

		@include mobile {
			&__arrow {
				display: none;
			}
		}

		&__arrow-mobile {
			display: none;

			@include mobile {
				display: block;
			}
		}

		.btn-left {
			margin-left: 133px;

			@include mobile {
				margin-left: toRem(12);
			}
		}

		.btn-right {
			margin-right: 133px;

			@include mobile {
				margin-right: toRem(16);
			}
		}
	}

	.section-input {
		grid-column: 1 / 13;
		margin-bottom: 120px;

		@include mobile {
			margin: 0;
		}

		&__content-wrapper {
			@include flex-column;
			@include flex-center;
			color: $base-grey;
		}

		&__title {
			text-align: center;
			font-size: 48px;
			font-weight: 700;
			margin-top: 120px;
			margin-bottom: 24px;

			@include mobile {
				font-size: toRem(36);
				margin-top: toRem(32);
				margin-bottom: toRem(30);
			}
		}

		&__text {
			width: 840px;
			height: 56px;
			text-align: center;
			font-size: 24px;
			font-weight: 500;
			line-height: 28.18px;
			margin-bottom: 70.37px;

			@include mobile {
				width: toRem(312);
				font-size: toRem(16);
				line-height: toRem(18.78);
				margin: 0;
				margin-left: toRem(32);
				margin-right: toRem(32);
			}
		}

		&__form {
			display: flex;
			@include flex-center;
			border: 1px solid #fefefe;
			border-radius: 12px;
			width: 696px;
			height: 64px;
			box-shadow: 0px 0px 8px #00000040;

			@include mobile {
				border: none;
				border-top-left-radius: toRem(12);
				border-bottom-left-radius: toRem(12);
				width: toRem(312);
				height: toRem(46);
				margin-top: toRem(64);
			}

			:focus {
				outline: none;
			}
		}

		&__email {
			border: none;
			width: calc(100% - 120px);
			margin: 21px 15px 22px 20px;
			font-size: 18px;
			font-weight: 400px;
			font-style: italic;

			@include mobile {
				border: none;
				font-size: toRem(16);
			}
		}

		&__btn {
			border: none;
			border-radius: 12px;
			color: $base-grey;
			background: $base-color;
			margin: 8px 8px 8px 0;
			font-size: 24px;
			font-weight: 700;
			width: 120px;
			height: 48px;
			padding: 0;

			@include mobile {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				margin: 0;
				font-size: toRem(18);
				width: toRem(102);
				height: toRem(46);
				padding: 0;
			}
		}
	}

	.footer {
		grid-column: 1 / 13;
		background: $base-color;
		color: $base-white;

		@include mobile {
			margin-top: toRem(48);
		}

		&__content-wrapper {
			@include flex-column;
			color: $base-grey;

			@include mobile {
				@include flex-center;
			}
		}

		&__logo-box {
			background: $base-white;
			margin-top: 48px;
			margin-left: 108px;
			width: 223px;
			height: 78.05px;

			@include mobile {
				margin: 0;
			}
		}

		&__logo-img {
			margin-top: 47.86px;
			margin-left: 6.03px;
			margin-bottom: 0;
		}

		&__sections-wrapper {
			@include flex-row;
			justify-content: flex-start;
			margin-top: 30.67px;

			@include mobile {
				@include flex-column;
				@include flex-center;
				margin-top: toRem(41.95);
			}
		}

		&__info-wrapper {
			margin-left: 108px;

			@include mobile {
				margin: 0;
				text-align: center;
			}

			:first-child {
				font-size: 24px;
				font-weight: 600;
			}

			:nth-child(2) {
				margin-top: 10px;
				margin-bottom: 10px;
			}

			:nth-child(4) {
				margin-top: 18px;
				margin-bottom: 10px;
			}

			:last-child {
				margin-bottom: 96px;
			}
		}

		&__text {
			font-size: 18px;
			margin: 0;
		}

		&__link {
			display: block;
			color: $base-grey;
			font-size: 18px;
			font-weight: 400;
		}

		&__subsections-wrapper {
			@include flex-column;
			align-items: flex-start;
			margin-left: 210px;

			@include mobile {
				@include flex-center;
				margin: 0;
				text-align: center;

				:last-child {
					margin-bottom: toRem(64);
				}
			}

			:first-child {
				font-weight: 600;
				margin-bottom: 10px;
			}

			:nth-child(2) {
				margin-bottom: 10px;
			}

			:nth-child(3) {
				margin-bottom: 10px;
			}
		}

		&__subsections-title {
			font-size: 18px;
			margin: 0;
		}

		&__subsection-link {
			text-decoration: none;
			color: $base-grey;
		}

		&__social-wrapper {
			@include flex-column;
			align-items: flex-start;
			margin-left: 350px;

			@include mobile {
				@include flex-center;
				margin: 0;
				margin-bottom: toRem(48);
			}
		}

		&__social-title {
			font-size: 18px;
			margin: 0;
			font-weight: 600;
		}

		&__social-links {
			@include flex-row;
			align-items: flex-start;

			:first-child {
				margin-right: 24px;
			}

			:nth-child(2) {
				margin-right: 24px;
			}

			:nth-child(3) {
				margin-right: 24px;
			}
		}

		&__link {
			&-round {
				margin-top: 18px;
				background: $base-grey;
				text-decoration: none;
				border-radius: 50%;
				width: 48px;
				height: 48px;
				display: flex;
				@include flex-center;
			}
		}

		&__social {
			margin-left: 50%;
		}

		&__copyright {
			@include flex-row;
			justify-content: space-between;
			align-items: center;
			background: $base-grey;

			@include mobile {
				@include flex-column-reverse;
				@include flex-center;
				width: 100%;
				height: toRem(86);
			}
		}

		&__copy {
			margin-top: 13px;
			margin-left: 108px;
			margin-bottom: 13px;
			color: $base-white;
			font-size: 18px;

			@include mobile {
				margin: 0;
			}
		}

		&__copy-wrapper {
			margin-top: 13px;
			margin-bottom: 13px;

			@include mobile {
				margin: 0;
				margin-bottom: toRem(12);
			}

			:first-child {
				margin-right: 36px;

				@include mobile {
					margin: 0;
					margin-right: toRem(12);
				}
			}

			:last-child {
				margin-right: 108px;

				@include mobile {
					margin: 0;
				}
			}
		}

		&__copy-link {
			color: $base-white;
			font-size: 18px;
		}
	}
}
